@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        background: #120751;
        font-family:'Times New Roman', Times, serif !important;
        padding: 20px;
    }
}



@layer components {
    .card {
        border-radius: 50px;
background: #e0e0e0;
box-shadow:  20px 20px 40px #bebebe,
             -20px -20px 60px #ffffff;
    }
}